.main {
  padding: 34px 0 94px;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(238, 238, 238, 1);
}

@media screen and (min-width: 768px) {
  .main {
    padding: 60px 0 80px;
  }
}
