.header__navigation-list-link {
  text-decoration: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

/* уберем баг с обычным ховером и разделим их логику */
/* ховер для десктопов */
@media (hover: hover) {
  .header__navigation-list-link:hover {
    color: rgba(67, 116, 229, 1);
  }
}

/* экшен для мобильных устройств */
@media (hover: none) {
  .header__navigation-list-link:active {
    color: rgba(67, 116, 229, 1);
  }
}
