.footer__block {
  max-width: 1200px;
  width: 100%;
  height: min-content;
  padding: 0 16px;
  display: grid;
  grid-template-areas:
    "logo"
    "copyrights"
  ;
  justify-items: center;
  align-items: center;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .footer__block {
    height: 80px;
    grid-template-areas: "logo copyrights";
    justify-items: space-between;
    gap: 0px;
  }
}
