.footer {
  margin: auto;
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 1);
  height: 94px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__block {
    height: 80px;
    grid-template-areas: "logo copyrights";
    justify-items: space-between;
  }
}
